*{
    font-family: sans-serif;
}

.titreprincipal {
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

.menu-pleine-hauteur {
    height: 75vh;
  }
  

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("../images/wallpaper2.jpg") no-repeat;
    background-size: cover;
}

.cards {
        flex-direction: row; 
        display: flex;
        justify-content: space-evenly;
        width: 60%;
}
    
.card {
        text-align: center;
        background-color: white;
}

.vertical-line {
    border-left: 5px solid black;
    height: 500px;
    padding-right: 50px;
}


